@charset "utf-8";
/**
 * Copyright themall.sc
 * Author:  Ruoan Xu
 * LastUpdate: 2013/4/21
*/

/**********************************
共通要素
***********************************/
a{
	color: #007182;
}

.left-block hr{
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #fafafa;
}

/**********************************
ボタン
***********************************/
.button-social{
  display: block;
	width: 200px;
	margin:auto;
	margin-bottom: 10px;
	border-radius: 4px;
	text-decoration: none;
	padding: 7px 0;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	border: none;
}

.button-social:hover{
	color: #ffffff;
	text-decoration: none;
}

.button-facebook{
	background: #436bc1;
}
.button-facebook:hover{
	background: #6e93e2;
}

.button-twitter{
	background: #2ebaed;
}

.button-twitter:hover{
	background: #67cdf2;
}


/**********************************
レイアウト共通
***********************************/
.black_bar{
	width: 100%;
	height: 5px;
	background: #007182;
}
.menu_bar{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0;
	background: #007182;
	z-index: 100;
	height: 30px;
}
.menu_area{
	width: 100%;
	max-width: 1200px;
	min-width: 650px;
}
.controller{
	float: right;
	color: white;
	font-size: 16px;
	margin-top: 5px;
	margin-right: 20px;
}
.controller a{
	color: #a3cbd1;
	margin-right: 5px;
}
.controller a:hover{
	text-decoration: none;
}
.controller .active{
	color: white;
}
.logo_small{
  float: left;
	color: white;
	font-size: 1.3em;
	margin-top: 4px;
	margin-left: 20px;
}
.logo_small a{
	color: white;
}
.logo_small a:hover{
	text-decoration: none;
}

.left-block{
	position: fixed;
	left: 0;
	top: 30px;
	bottom: 0;
	width: 220px;
	background: #f1f1f1;
	padding: 15px;
}

.main{
  margin-top: 30px;
	margin-left: 250px;
	max-width: 950px;
	min-width: 400px;
}

/**********************************
ウェルカムページ
***********************************/
.logo a{
  font-size: 3em;
  color:#9e9e9e;
}
.logo a:hover{
	text-decoration: none;
}

.wel_top{
	background: #f1f1f1;
	padding: 15px 0;
	box-shadow: 0px 1px 8px rgba(0,0,0,0.58);
}

.wel_top h1{
	text-align: center;
	margin-bottom: 15px;
}

.wel_top_mockimg{
	text-align: center;
}

.wel_top_discription{
  position: relative;
}

.wel_top_discription h3{
	color: #686868;
	background: white;
	border-radius: 10px;
	padding: 15px;
	box-shadow: 0px 1px 10px 1px #bababa;
}

.discription_arrow{
  margin: auto;
  margin-top: -10px;
  width: 0px;
  height: 0px;
  border-width:10px;
  border-style: solid;
	border-color:transparent;;
	border-top-color: white;
}

.wel_top_social{
}
.wel_top_social .button-social i{
	margin-right: 10px;
}


/**********************************
LEFTコンテンツ
***********************************/
.profile img{
	float: left;
}
.profile_detail{
  float: left;
	margin-left: 15px;
	width: 150px;
}
.username a {
	display: inline-block;
	padding: 3px 8px;
	border-radius: 3px;
}
.username a:hover{
	text-decoration: none;
	background: #e6e6e6;
}
.profile_detail .username b{
	margin-top: 8px;
	margin-left: 5px;
}
.profile_detail .logout{
  margin-top: 8px;
  text-align: right;
	font-size: 12px;
}
.left-block .menu ul{
	list-style: none;
	font-size: 1.3em;
	margin-left: 0px;
}
.left-block .menu ul li{
	margin-bottom: 15px;
}

.left-block .menu ul li i{
	margin-right: 15px;
}

.left-block .menu a{
	color: #6b6b6b;
}

.left-block .menu a:hover{
	text-decoration: none;
	color: #007182;
}


/**********************************
タイムライン
***********************************/
.timeline{
	padding: 15px;
}
.loading{
	text-align: center;
	background: #f4f4f4;
	padding: 15px;
	font-size: 1.3em;
	color:#969696;
}
.timeline b{
	display: block;
	font-weight: normal;
	margin-bottom: 10px;
	color: #888;
}
.timeline b span{
	color: #952121;
	font-size: 1.2em;
}

/*リスト型*/
.timeline-list{
	list-style: none;
	margin: 0px;
}
.timeline-list li{
	border: 1px solid #f6f6f6;
	margin-bottom: 15px;
	border-radius: 5px;
	background: white;
}
.timeline-list li:hover{
  border-color: #c8e6f1;
  box-shadow: 0px 0px 3px #e8e8e8;
}
.timeline-list .item-controll{
	background: #f6f6f6;
	border-radius: 0px 0px 4px 4px;
	padding: 3px 10px;
}
.timeline-list .item-controll div.left{
	float: left;
}
.timeline-list .item-controll a{
	margin: 0 3px;
	font-size: 12px;
}
.timeline-list .item-controll a span{
	margin-left: 7px;
}
.timeline-list .item-controll a i{
	font-size: 16px;
	margin-right: 4px;
}
.timeline-list .item-controll a:hover{
	text-decoration: none;
}
.timeline-list .item-controll div.right{
	float: right;
}

.timeline-list .item-wrap{
  padding: 8px;	
}
.timeline-list .item-wrap img{
	float:left;
	margin-right: 15px;
	width: 250px;
}
.timeline-list .item-wrap .item-info{
	
}
@media (max-width: 767px) {
	.timeline-list .item-wrap .item-info{
	  float: left;
  }
}


/* グリッド型 */

.grid-line{
	float: left;
	width: 300px;
	margin-right: 8px;
}
.grid-line:last-child{
	margin-right: 0px;
}

.item-box{
	border: 1px solid #f6f6f6;
	margin-bottom: 8px;
	padding: 5px;
}
.item-box:hover{
	border-color: #c8e6f1;
  box-shadow: 0px 0px 3px #e8e8e8;
}


/**********************************
カート
***********************************/
.cart{
	
}

.cart .droparea{
  position: relative;
	text-align: center;
	color:#cdcdcd;
}
.cart .droparea span{
	position: absolute;
	display: block;
	height: 30px;
	width: 30px;
	color: #007182;
	background: #f1f1f1;
	border-radius: 15px;
	font-size: 18px;
	line-height: 30px;
	left: 100px;
	top: 25px;
}
.cart .droparea a i{
	font-size: 100px;s
}
.cart .droparea a{
	color: #cdcdcd;
}
.cart .droparea a:hover{
	text-decoration: none;
	color:#5db3c2;
}
.cart .droparea p{
	font-size: 12px;
	font-weight: bold;
}



